.diplomasafe-container {
    &.view-queue-list {
        .resubmit {
            white-space: nowrap;
        }
        th {
            &.center {
                text-align: center;
            }
        }
        td {
            &.center {
                text-align: center;
            }
            .badge {
                margin-bottom: 5px;
            }
            .item {
                &-course {
                    max-width: 150px;
                }
                &-user {
                    max-width: 150px;
                }
                &-message {
                    max-width: 300px;
                }
            }
            .nowrap {
                white-space: nowrap;
                overflow: hidden;
            }
            .ellipsis {
                text-overflow: ellipsis;
            }
        }
    }
}