.diplomasafe-container {
    th {
        &.center {
            text-align: center;
        }
    }
    td {
        &.center {
            text-align: center;
        }
        .nowrap {
            white-space: nowrap;
            overflow: hidden;
        }
        .ellipsis {
            text-overflow: ellipsis;
        }
    }
    &.view-queue-list {
        .resubmit {
            white-space: nowrap;
        }
        td {
            .badge {
                margin-bottom: 5px;
            }
            .item {
                &-course {
                    max-width: 150px;
                }
                &-user {
                    max-width: 150px;
                }
                &-message {
                    max-width: 300px;
                }
            }
        }
    }
    ol {
        li {
            margin-bottom: 10px;
            i {
                color: #888;
            }
        }
    }
}
