.diplomasafe-container th.center {
  text-align: center; }

.diplomasafe-container td.center {
  text-align: center; }

.diplomasafe-container td .nowrap {
  white-space: nowrap;
  overflow: hidden; }

.diplomasafe-container td .ellipsis {
  text-overflow: ellipsis; }

.diplomasafe-container.view-queue-list .resubmit {
  white-space: nowrap; }

.diplomasafe-container.view-queue-list td .badge {
  margin-bottom: 5px; }

.diplomasafe-container.view-queue-list td .item-course {
  max-width: 150px; }

.diplomasafe-container.view-queue-list td .item-user {
  max-width: 150px; }

.diplomasafe-container.view-queue-list td .item-message {
  max-width: 300px; }

.diplomasafe-container ol li {
  margin-bottom: 10px; }
  .diplomasafe-container ol li i {
    color: #888; }
