<h2>{{#str}}view_queue_list_header, mod_diplomasafe{{/str}}</h2>
<div class="diplomasafe-container view-queue-list mt-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="center">{{#str}}view_queue_list_th_id, mod_diplomasafe{{/str}}</th>
                <th class="center">{{#str}}view_queue_list_th_course_fullname, mod_diplomasafe{{/str}}</th>
                <th class="center">{{#str}}view_queue_list_th_user, mod_diplomasafe{{/str}}</th>
                <th class="center">{{#str}}view_queue_list_th_status, mod_diplomasafe{{/str}}</th>
                <th>{{#str}}view_queue_list_th_message, mod_diplomasafe{{/str}}</th>
                <th>{{#str}}view_queue_list_th_time_created, mod_diplomasafe{{/str}}</th>
                <th>{{#str}}view_queue_list_th_last_run, mod_diplomasafe{{/str}}</th>
                <th>{{#str}}view_queue_list_th_last_mail_sent, mod_diplomasafe{{/str}}</th>
                <th class="center">{{#str}}view_queue_list_th_delete, mod_diplomasafe{{/str}}</th>
            </tr>
        </thead>
        <tbody>
        {{#queue_items}}
            <tr data-id="{{id}}">
                <td class="center">{{id}}</td>
                <td class="center">
                    <div class="item-course nowrap ellipsis"
                         title="{{#str}}view_queue_list_course_text, mod_diplomasafe, {{course_fullname}} {{/str}}, {{#str}}view_queue_list_activity_text, mod_diplomasafe, {{module_instance_name}} {{/str}}">
                        <a href="/course/view.php?id={{course_id}}">
                            {{course_fullname}}
                        </a>
                    </div>
                </td>
                <td class="center">
                    <div class="item-user nowrap ellipsis" title="{{user_fullname}}">
                        <a href="/user/profile.php?id={{user_id}}">
                            {{user_fullname}}
                        </a>
                    </div>
                </td>
                <td class="center">
                    <span class="badge badge-{{status_item.type}}">
                        {{status_item.text}}
                    </span>
                    {{#allow_readd}}
                        <div class="resubmit">
                            <a class="btn btn-secondary btn-sm" href="/mod/diplomasafe/view.php?view=queue_list&action=add_again&id={{id}}"
                            title="{{#str}}view_queue_add_again, mod_diplomasafe{{/str}}">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    {{/allow_readd}}
                </td>
                <td>
                    <div class="item-message nowrap ellipsis" title="{{message}}">
                        {{message}}
                    </div>
                </td>
                <td>{{time_created_formatted}}</td>
                <td>{{last_run_formatted}}</td>
                <td>{{last_mail_sent_formatted}}</td>
                <td class="center">
                    <a class="btn btn-secondary btn-sm"
                       href="/mod/diplomasafe/view.php?view=queue_list&action=delete&id={{id}}"
                       id="delete-button" data-confirm-deletion="{{#str}}confirm_deletion, mod_diplomasafe{{/str}}">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {{/queue_items}}
        </tbody>
    </table>
    {{{pagination}}}
    <div>
        <a class="btn btn-primary" href="/admin/settings.php?section=modsettingdiplomasafe">
            <i class="fa fa-arrow-left"></i> {{#str}}view_queue_list_back, mod_diplomasafe{{/str}}
        </a>
    </div>

</div>
