<h2>{{#str}}view_setup_guide_header, mod_diplomasafe{{/str}}</h2>
<div class="diplomasafe-container view-setup-guide mt-4">
    {{#str}}view_setup_guide_description, mod_diplomasafe{{/str}}
</div>
<div>
    <a class="btn btn-secondary" href="/admin/settings.php?section=modsettingdiplomasafe">
        <i class="fa fa-arrow-left"></i> {{#str}}view_queue_list_back, mod_diplomasafe{{/str}}
    </a>
</div>
