<h2>{{#str}}view_templates_list_header, mod_diplomasafe{{/str}}</h2>
<div class="diplomasafe-container mt-4">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{#str}}view_templates_list_th_name, mod_diplomasafe{{/str}}</th>
                <th>{{#str}}view_templates_list_th_organisation_id, mod_diplomasafe{{/str}}</th>
                <th>{{#str}}view_templates_list_th_default_language_id, mod_diplomasafe{{/str}}</th>
                <th>{{#str}}view_templates_list_th_idnumber, mod_diplomasafe{{/str}}</th>
                <th>{{#str}}view_templates_list_th_is_valid, mod_diplomasafe{{/str}}</th>
            </tr>
        </thead>
        <tbody>
        {{#templates}}
            <tr data-id="{{id}}">
                <td>{{name}}</td>
                <td>{{organisation_id}}</td>
                <td>{{default_language}}</td>
                <td>{{idnumber}}</td>
                <td>{{#is_valid}}<i class="fa fa-check"></i>{{/is_valid}}</td>
            </tr>
        {{/templates}}
        </tbody>
    </table>
    <div>
        <a class="btn btn-default" href="/admin/settings.php?section=modsettingdiplomasafe">
            <i class="fa fa-arrow-left"></i> {{#str}}view_templates_list_back, mod_diplomasafe{{/str}}
        </a>
    </div>
    <pre>
        {{message}}
    </pre>
</div>
