<select name="template" id="template" class="custom-select"{{#is_disabled}} disabled="disabled"{{/is_disabled}}>
    <option value="">
        {{#str}}select_default_option_template, mod_diplomasafe{{/str}}
    </option>
    {{#templates}}
        <option value="{{id}}"{{#selected}} selected="selected"{{/selected}}>
            {{name}}
        </option>
    {{/templates}}
</select>
